.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 40rem;
  }
  
  .carousel {
    position: relative;
    padding-top: 10px;
  }
  
  .g-0, .gy-0 {
    --bs-gutter-y: 0px;
    --bs-gutter-x: 10px;
  }
  
  .slider-row {
    margin-right: 10px;
    margin-left: 10px;
  }
  

  
  * {
    margin: 0;
    padding: 0;
  }
  
  .mb-2 {
    font-family: Raleway, sans-serif;
  }
  
  .subs {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
  }
  
  .price-cost {
    color: #28be10;
    font-family: Raleway, sans-serif;
    font-weight: 700;
  }
  
  .price-head {
    font-size: 29px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: rgb(79,79,79);
    width: 100%;
    text-align: center;
  }
  .cards_section{
    margin-left: 250px;
  }
  .card_wrap{
    width: 33%;
    display: inline;
    float: left;
  }


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;
  bottom: 23px;
  right: 28px; */
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
